.container {
    margin-left: 20px;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    
    
    .usergrid {
        display: grid;
        grid-template-columns: repeat(3, 300px );
        grid-auto-columns: 300px;
        //margin-left: 35px;
        grid-gap: 30px;

        .user {
            place-self: center;
            height: 330px;//minmax(310px, 330px);
            //border: 1px solid black;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            border-radius: 10px;
            box-shadow: 2px -2px 5px 0px rgba(217,214,217,.7),
            -2px 2px 5px 0px rgba(217,214,217,.7);
            
            span {
                text-align: center;
                padding-bottom: 10px;
            }
            
            i {
                padding-right: 5px;
            }

            .buttonContainer {
                text-align: center;
                padding-top: 30px;
               
                button {
                    background-color: #353353;
                    padding: 10px 15px;
                    color: #2bde73;
                    margin: 0px;
                    border: none;
                    width: 115px;
                    font-size: 16px;
                    transition: color, 0.2s, ease-in-out;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        outline: none;
                    }
                }
            }
            
        }
    }

    .pages {
        width: 100%;
        padding-bottom: 15px;
       
    }

   
}

.size {
    width: 100px;
    padding: 0;
    margin: 0;
    margin-left: 33%;
    padding-bottom: 10px;
}

.photo {
    width: 100px;
    
}
